.main-board {
    margin:1em;
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    position: relative;
}

.main-board td {
    border:1px solid;
    padding: 0;
}
.main-board td:first-child {
    border-left:solid;
}
.main-board td:nth-child(3n) {
    border-right:solid ;
}
.main-board tr:first-child {
    border-top:solid;
}
.main-board tr:nth-child(3n) td {
    border-bottom:solid ;
}

.main-board caption {
    text-align: left;
}

.main-board input,
.main-board input:hover,
#root .main-board input:focus {
    width: 50px;
    height: 50px;
    text-align:center;
    border: 0;
    margin: 0;
    font-size: 1.7rem;
}

.main-board input.writable {
    color: green;
}

.main-board input.readonly {
    cursor: pointer;
    color: black;
}

.main-board input.invalid {
    background: pink;
    border: 0;
    box-shadow: none;
}

.main-board i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

